@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Deletion Confirmation";
}
@model TaskClass


<h2>Are you sure you want to delete:</h2>

<p><strong>Task:</strong> @Model.TaskName</p>
<p><strong>Due Date:</strong> @Model.DueDate</p>
<p><strong>Quadrant:</strong> @Model.Quadrant</p>
<p><strong>Category:</strong> @Model.Category</p>
<p><strong>Completed:</strong> @Model.Completed</p>


<form method="post">
    <input asp-for="@Model.TaskId" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
