@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<TaskClass>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Stephen Covey's Time Management Matrix</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col"><h2><b>Urgent</b></h2></div>
        <div class="col"><h2><b>Not Urgent</b></h2></div>
    </div>
    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center text-rotate"><h2><b>Important</b></h2></div>
        <div class="col">
            <b>Quadrant 1</b>
            <br />
            @foreach (var t in Model)
            {
                if (t.Quadrant == 1)
                {
                    <p>
                        Task: @t.TaskName, Due Date: @t.DueDate, Category: @t.Category?.Category
                        <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                    </p>
                }
            }
        </div>
        <div class="col">
            <b>Quadrant 2</b>
            <br />
            @foreach (var t in Model)
            {
                if (t.Quadrant == 2)
                {
                    <p>
                        Task: @t.TaskName, Due Date: @t.DueDate, Category: @t.Category?.Category
                        <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                    </p>
                }
            }
        </div>
    </div>
    <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center text-rotate"><h2><b>Not Important</b></h2></div>
        <div class="col">
            <b>Quadrant 3</b>
            <br />
            @foreach (var t in Model)
            {
                if (t.Quadrant == 3)
                {
                    <p>
                        Task: @t.TaskName, Due Date: @t.DueDate, Category: @t.Category?.Category
                        <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                    </p>
                }
            }
        </div>
        <div class="col">
            <b>Quadrant 4</b>
            <br />
            @foreach (var t in Model)
            {
                if (t.Quadrant == 4)
                {
                    <p>
                        Task: @t.TaskName, Due Date: @t.DueDate, Category: @t.Category?.Category
                        <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@t.TaskId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@t.TaskId">Delete</a>
                    </p>
                }
            }
        </div>
    </div>
</div>